/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Darker Grotesque;
  font-weight: 300;
  src: local("Darker Grotesque"),
    url(./global/assets/fonts/darker-grotesque/DarkerGrotesque-Light.ttf)
      format("ttf");
}
@font-face {
  font-family: Darker Grotesque;
  font-weight: 400;
  src: local("Darker Grotesque"),
    url(./global/assets/fonts/darker-grotesque/DarkerGrotesque-Regular.ttf)
      format("ttf");
}
@font-face {
  font-family: Darker Grotesque;
  font-weight: 500;
  src: local("Darker Grotesque"),
    url(./global/assets/fonts/darker-grotesque/DarkerGrotesque-Medium.ttf)
      format("ttf");
}
@font-face {
  font-family: Source Sans Pro;
  font-weight: 500;
  src: local("Source Sans Pro"),
    url(./global/assets/fonts/source-sans-pro/SourceSansPro-ExtraLight.ttf)
      format("ttf");
}

@font-face {
  font-family: Source Sans Pro;
  font-weight: 500;
  src: local("Source Sans Pro"),
    url(./global/assets/fonts/source-sans-pro/SourceSansPro-Regular.ttf)
      format("ttf");
}

@layer components {
  .side-bar-tab {
    @apply pl-9 space-x-3 py-2 flex flex-row items-center
    hover:bg-red-300 hover:text-primary transition ease-in-out duration-100;
  }
}
