/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Darker Grotesque;
  font-weight: 300;
  src: local("Darker Grotesque"),
    url(./global/assets/fonts/darker-grotesque/DarkerGrotesque-Light.ttf)
      format("ttf");
}
@font-face {
  font-family: Darker Grotesque;
  font-weight: 400;
  src: local("Darker Grotesque"),
    url(./global/assets/fonts/darker-grotesque/DarkerGrotesque-Regular.ttf)
      format("ttf");
}
@font-face {
  font-family: Darker Grotesque;
  font-weight: 500;
  src: local("Darker Grotesque"),
    url(./global/assets/fonts/darker-grotesque/DarkerGrotesque-Medium.ttf)
      format("ttf");
}
@font-face {
  font-family: Source Sans Pro;
  font-weight: 500;
  src: local("Source Sans Pro"),
    url(./global/assets/fonts/source-sans-pro/SourceSansPro-ExtraLight.ttf)
      format("ttf");
}

@font-face {
  font-family: Source Sans Pro;
  font-weight: 500;
  src: local("Source Sans Pro"),
    url(./global/assets/fonts/source-sans-pro/SourceSansPro-Regular.ttf)
      format("ttf");
}

@layer components {
  .side-bar-tab {
    @apply pl-9 space-x-3 py-2 flex flex-row items-center
    hover:bg-red-300 hover:text-primary transition ease-in-out duration-100;
  }
  .dashboard-label {
    @apply font-heading text-5xl;
  }
  .primary-link {
    @apply font-light text-lg text-tertiary font-body hover:text-secondary;
  }
  .primary-button {
    @apply border border-primary rounded-sm px-6 py-2 text-lg text-secondary font-body font-light
    hover:bg-tertiary hover:text-primary transition ease-in-out;
  }
  .secondary-button {
    @apply border border-secondary rounded-sm px-6 py-2 text-lg text-primary font-body font-light
    hover:bg-secondary hover:text-tertiary transition ease-in-out;
  }
  .form-label {
    @apply flex flex-col;
  }
  .form-input {
    @apply mt-1 mb-3 py-4 px-4 rounded-md text-primary;
  }
  .bg-grad {
    @apply bg-gradient-to-r from-gradend via-gradstart to-gradend;
  }
}
