@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Darker Grotesque";
  src: local("Darker Grotesque"),
    url(./assets/font/DarkerGrotesque-Medium.ttf) format("ttf");
}

body {
  font-family: "Outfit", sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0;
  display: none;
}
